{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOA CLIENT PROFILE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" 
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'css/Profile_client.css' %}">
    <link rel="shortcut icon" href="{% static 'images/BOA LOGO.png' %}" type="image/x-icon">
</head>
<body>
    <nav>
        <div class="links">
            <a href="client-dashboard">Dashboard</a>
            <a href="client-tickets">Tickets</a>
            <a style="color: var(--secondary-color);" href="clientlogout">Logout</a>
        </div>
        <div class="account_details">
            {% if profile.first_name != None %}
                <a href="client-profile"><span class="name">{{profile.first_name}}</span> &nbsp; <i class="fa-solid fa-gear"></i></a>
            {% else %}
                <a href="client-profile"><span class="name" style="color: red;">Create profile</span> &nbsp; <i class="fa-solid fa-gear"></i></a>
            {% endif %}
        </div>
    </nav>
    <p class="screen">Screen size not supported currently!</p>
    <div class="container_4">
        <div class="profile_pic">
            <span></span>
            <span></span>
            <h3>PROFILE VERIFICATION STATUS</h3>
            {% if profile.profile_pic %}
                <img src="{{profile.profile_pic.url}}" alt="">
            {% else %}
                <img src="{% static 'images/profilepic.png' %}" alt="">
            {% endif %}
        </div>
        <div class="profile_pic">
            {% if profile.verified == False %}
                <p style="background-color: red; color: var(--tertiary-color); ">Unverified</p>
                <p>Verified</p>
            {% else %}
                <p>Unverified</p>
                <p style="background-color: var(--secondary-color);">Verified</p>
            {% endif %}

        </div>
        <form method="post" id="profile" enctype="multipart/form-data" class="profile_form">
            {% csrf_token %}
            <div class="form_details">
                <label for="first_name">First name:</label>
                <input required name="first_name" type="text" id="first_name" placeholder="{{profile.first_name}}">
            </div>
            <div class="form_details">
                <label for="last_name">Last name:</label>
                <input required name="last_name" type="text" id="last_name" placeholder="{{profile.last_name}} ">
            </div>
            <div class="form_details">
                <label for="email">Email:</label>
                <input readonly name="email" type="text" id="email" placeholder="{{request.user.email}}" disabled>
            </div>
            <div class="form_details">
                <label for="age">DOB:</label>
                <input required name="age" type="date" id="{{profile.dob}}">
            </div>
            <div class="form_details">
                <label for="location">Country:</label>
                <input required name="location" type="text" id="location" placeholder="{{profile.country}}">
            </div>
            <div class="form_details">
                <label for="phone">Phone:</label>
                <input required name="phone" type="number" id="phone" placeholder="{{profile.phone}}">
            </div>
            <div class="form_details">
                <label for="pp">Profile pic:</label>
                <input required name="pp" type="file" id="pp">
            </div>
            <div class="form_details">
                <label for="ppp">National/Student ID:</label>
                <input required name="Nid" type="file" id="ppp">
            </div>
            <div class="form_details">
                <label for="income">Income source:</label>
                <input required name="income" type="text" id="income" placeholder="{{profile.income_source}}">
            </div>
            <div class="form_details">
                <label for="title">Job title:</label>
                <input required name="title" type="text" id="title" placeholder="{{profile.job_title}}">
            </div>
        </form>
        <div class="buttonz">
            <button type="submit" form="profile">Create/Update</button>
        </div>
    </div>
    <div class="container_5">
        <h3>POLICY ALLERT</h3>
        <p>Take note that we risk 30% of your account balance to generate a monthly profit of about 5%.</p>
        <p>In case of a worst case scenario, we do not let your equity fall beyond 30%.</p>
        <p>If equity falls below 25%, we schedule a closure of loss trades to prevent damage to your account balance beyond 29%.</p>
        <p>We share 9% of your total monthly profit as a maintainance fee.</p>
        <p>For any inquiries, create a ticket and we shall respond as soon as possible.</p>
        <p>We assume that you have read and understood the terms and conditions.</p>
    </div>
    <footer>
        <p>At&nbsp;&nbsp;<span>BLUEOCEANS ASSOCIATES,</span>&nbsp;&nbsp;Capital protection is our primary objective above all else.</p>
    </footer>
</body>
</html>