{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLUEOCEANS ASSOCIATES TERMS</title>
    <link rel="stylesheet" href="{% static 'css/t&c.css' %}">
    <link rel="shortcut icon" href="{% static 'images/BOA LOGO.png' %}" type="image/png">
</head>
<body>
    <div class="logo">
        <img src="{% static 'images/BOA_LOGO-removebg.png' %}" alt="">
    </div>
    <div class="container">
        <h3>TERMS AND CONDITIONS OF FUND MANAGEMENT SERVICES</h3>
        <p class="p">These Terms and Conditions (“Terms”) govern the relationship between BlueOceans Associates (“The Company”, “We”, “Our”) and the Client (“You”, “Your”) who engages in our Fund Management and Investment Services.
        By opening an investment account or using our services, you agree to be bound by these Terms and conditions.
        </p>
        <div class="term-container">
            <div class="nine">
                <div class="terms">
                    <div class="term">
                        <h4>1. Company Information</h4>
                        <p>BlueOceans Associates is a fund management and financial innovation company based in Uganda. We provide investment advisory, asset management, financial literacy, and algorithmic trading solutions.</p>
                    </div>
                </div>
                <div class="terms">
                    <div class="term">
                        <h4>2. Eligibility</h4>
                        <p>
                            To use our services, you must;<br>
                            1. Be at least 18 years old <br>
                            2. Have full legal capacity to enter into a binding contract <br>
                            3. Provide valid identification and comply with our Know Your customer (KYC) processes. <br>
                            4. Not be involved in money laundering, terrorism financing, fraud, or any unlawful activity.</p>
                    </div>
                </div>
                <div class="terms">
                    <div class="term">
                        <h4>3. Investment Disclaimer</h4>
                        <p>1. Investments involve risk, including the potential loss of capital <br>
                            2. Past performance does not guarantee future results <br>
                            3. The value of investments may rise or fall due to market volatility <br>
                            4. We do not guarantee profits or specific returns <br>
                        </p>
                    </div>
                </div>
                <div class="terms">
                    <div class="term">
                        <h4>4. Client Responsbilities</h4>
                        <p>The Client agrees to; <br>
                            1. Provide accurate and up-to-date personal and financial information <br>
                            2. Notify the company of any changes to contact or banking details <br>
                            3. Abide by risk disclosures and investment agreements <br>
                            4. Use services only for lawful purposes
                        </p>
                    </div>
                </div>
                <div class="terms">
                    <div class="term">
                        <h4>5. Risk Acknowledgement</h4>
                        <p>By entering this agreement, you acknowledge and accept; <br>
                            1. Market risk <br>
                            2. Liquidity risk <br>
                            3. Currency risk <br>
                            4. Operational risk <br>
                            5. Regulatory risk <br>
                            You confirm that you fully understand the nature of investment risk and accept responsbility for your investment decisions <br>
                        </p>
                    </div>
                </div>
                <div class="terms">
                    <div class="term">
                        <h4>6. Investment Accounts</h4>
                        <p>Clients may open accounts such as; <br>
                            1. Managed Investment Accounts <br>
                            2. Corporate Investment Accounts <br>
                            3. High-Net-Worth Investment Portfolios <br>
                            4. Algorithmic Trading Accounts <br>                                                                      
                            Account types and minimum investment requirements are subject to Company policy
                        </p>
                    </div>
                </div>
                <div class="terms">
                    <div class="term">
                        <h4>7. Fees and Charges</h4>
                        <p>BlueOceans associates charges may include; <br>
                            1. Management Fees <br>
                            2. Performance Fees <br>
                            3. Withdrawal Fees (if applicable) <br>
                            4. Transaction Costs <br>
                            5. Administrative Charges <br>
                            All fees will be communicated in the Client Investment Agreement and may be revised with prior notice.</p>
                    </div>
                </div>
                <div class="terms">
                    <div class="term">
                        <h4>8. Deposit and Withdrawal Policy</h4>
                        <p> 1. Deposits must originate from verified bank accounts or payment channels <br>
                            2. Withdrawal will only be made to accounts in the client’s registered name, via third party institutions. <br>
                            3. Processing time for withdrawals is subjected to verification and market liquidity <br>
                            4. Early withdrawals from fixed investment plans may attract penalties. <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="nine">
                <div class="terms">
                    <div class="term">
                        <h4>9. Confidentiality and Data Protection</h4>
                        <p>We respect your privacy and data in line with the Data Protection and Privacy Act of Uganda. Client information will not be shared with third parties except; <br>
                            1. As required by law <br>
                            2. For regulatory compliance <br>
                            3. With your consent <br>
                        </p>
                    </div>
                </div>
                <div class="terms">
                    <div class="term">
                        <h4>10. Anti-Money Laundering (AML) Compliance</h4>
                        <p>We strictly follow Anti-Money Laundering and Counter-Terrorism Financing regulations. <br>
                            Suspicious transactions may be reported to the Financial Intelligence Authority (FIA) without prior notice.
                        </p>
                    </div>
                </div>
                <div class="terms">
                    <div class="term">
                        <h4>11. Communication</h4>
                        <p>We will communicate through email,SMS, Whatsapp, Official letters, or our digital platforms. <br>
                            You agree to receive updates, reports, statements, and legal notices through these channels</p>
                    </div>
                </div>
                <div class="terms">
                    <div class="term">
                        <h4>12. Limitation of Liability</h4>
                        <p>BlueOceans Associates shall not be liable for; <br>
                            1. Losses resulting from market fluctuations <br>
                            2. Loss of investment due to client decisions <br>
                            3.Force majeure events <br>
                            4. System downtime or communication delays</p>
                    </div>
                </div>
                <div class="terms">
                    <div class="term">
                        <h4>13. Termination of Service</h4>
                        <p>Either party may terminate the relationship with written notice. Outstanding balances will be settled before closure</p>
                    </div>
                </div>
                <div class="terms">
                    <div class="term">
                        <h4>14. Governing Law</h4>
                        <p>These Terms are governed by the laws of Uganda</p>
                    </div>
                </div>
                <div class="terms">
                    <div class="term">
                        <h4>15. Dispute Resolution</h4>
                        <p>Disputes will be resolved through negotiation. If unresolved, arbitration will be conducted as per the Arbitration and Conciliation Act of uganda/p>
                    </div>
                </div>
                <div class="terms">
                    <div class="term">
                        <h4>16. Amendments</h4>
                        <p>BlueOceans Associates reserves the right to amend these Terms at any time. Clients will be notified of any changes.</p>
                    </div>
                </div>
                <div class="terms">
                    <div class="term">
                        <h4>17. Contact Information</h4>
                        <p>BlueOceans Associates <br>
                            Email: blueoceansassociatesug@gmail.com <br>
                            Address: Uganda</p>
                    </div>
                </div>
                <div class="terms">
                    <div class="term">
                        <h4>18. Client Declaration</h4>
                        <p>I confirm that I have read and understood these Terms and agree to be bound by them.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>