body{
    background-color: #f4f6fc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 97%;
    margin: 0 5px;
}
.logo{
    margin-top: 80px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #052c80;
    border: 3px solid #f4f6fc;
    outline: none;
    z-index: 1;
}
.logo img{
    height: 150px;
    margin-left: -2px;
    width: 150px;
    border-radius: 50%;
    border: none;
    outline: none;
}
.notex{
    display: none;
}
.form{
    margin-top: -45px;
    background-color: rgb(48, 241, 248);
    width: 100%;
    border-radius: 8px;
    padding-bottom: 20px;
    border: 1px solid #052c80;
}
.form form{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.input_text{
    width: 80%;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #052c80;
    outline: none;
    font-family: sans-serif;
    font-size: 18px;
    color: #050a30;
    background-color: #f4f6fc;
}
.input_text::placeholder{
    font-family: sans-serif;
    font-size: 15px;
    color: #050a30;
}
.check_container{
    width: 100%;
    display: flex;
    gap: 10px;
    padding-left: 90px;
}
.input_check{
    border: none;
    outline: none;
    background-color: #f4f6fc;
    color: #050a30;
    border-radius: 5px;
}
.check_container{
    font-family: sans-serif;
    font-size: 15px;
    color: #052c80;
    display: flex;
    align-items: center;
}
.btn{
    font-family: sans-serif;
    font-size: 15px;
    color: #f4f6fc;
    background-color: #052c80;
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.form p{
    font-family: sans-serif;
    font-size: 12px;
    color: #052c80;
    text-align: center;
}
.form a{
    color: #052c80;
}
@media (min-width: 500px) and (max-width: 750px) {
    body{
        position: relative;
    }
    .form{
        width: 70%;
    }
    .check_container{
        margin-left: 6%;
    }
}
@media (min-width: 751px) and (max-width: 1199px) {
    body{
        position: relative;
    }
    .logo{
        display: none;
    }
    .form{
        display: none;
    }
    .notex{
        display: block;
        font-family: sans-serif;
    }
    .notex-img{
        width: 170px;
        height: 170px;
        border-radius: 50%;
    }
}
@media screen and (min-width: 1200px) {
    body{
        position: relative;
    }
    .form{
        width: 50%;
    }
    .check_container{
        margin-left: 6%;
    }
}